*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: rgb(124,184,243);
    background: linear-gradient(339deg, rgba(124,184,243,1) 0%, rgba(98,229,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}